@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(105, 105, 105);
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.4s ease;
  transform: translateX(0%);
  max-width: 300px;
  width: 100%;
  border-radius: 24px;
  box-shadow: 0 5px 10px;
  padding: 25px;
  background-color: rgb(255, 255, 255);
}

.image {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 3px;
  margin-bottom: 5px;
  background-color: rgb(0, 220, 255);
}

.image .profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-card .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-data .name {
  font-size: 25px;
  font-weight: 500;
}
.text-data .job {
  font-size: 15px;
  font-weight: 400;
}

.media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
}

.media .link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  margin-top: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

button {
  background: black;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  padding: 6px 12px;
}

.extra {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: opacity 0.4s ease;
  opacity: 0;
  width: 90vh;
  height: 50vh;
  transform: translateX(20%);
  border-radius: 24px;
  box-shadow: 0 5px 10px;
  background: rgb(255, 255, 255);
}

.quote {
  transform: scale(0.9) translateY(380%);
}

.quote .quoter {
  transform: translateX(77%);
}

.quote .quoter .merriweather {
  font-weight: 700;
}

#close {
  position: absolute;
  top: 73.6%;
}

.profile-card.activate {
  transform: translateX(-125%);
}

.extra.activate {
  opacity: 1;
  pointer-events: auto;
}

.block {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vw;
  width: 3vw;
  background-color: black;
  z-index: -1;
  left: 10vw;
  top: -40vh;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
