@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(105, 105, 105);
}
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    width: 100%;
    background-color: white;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px;
}

.image {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 3px;
    background-color: rgb(0, 220, 255);
    margin-bottom: 5px;
}

.image .profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.text-data .profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-data .name {
    font-size: 25px;
    font-weight: 500;
}
.text-data .job {
    font-size: 15px;
    font-weight: 400;
}

.media .link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
    height: 30px;    
    width: 30px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    color: white;
}

.block {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vw;
    width: 3vw;
    background-color: black;
    z-index: -1;
    left: 10vw;
    top: -40vh;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

@media (max-width: 600px) {
    .block 
    {
        top: -20vh;
        height: 70vh;
        width: 6vw;
    }
}